<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpg.myspringboot.mapper.DepartmentMapper">

    <select id="getDepartments" resultType="com.bpg.myspringboot.pojo.Department">
        select * from department
    </select>

    <select id="getDepartment" parameterType="Integer" resultType="com.bpg.myspringboot.pojo.Department">
        select * from department where id = #{id}
     </select>
</mapper>